@model Models.ViewModels.TopicUserViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Trắc nghiệm Online</title>
    <link rel="shortcut icon" href="~/Assets/img/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Assets/css/reset.css">
    <link rel="stylesheet" href="~/Assets/css/global.css">
    <link href="~/Assets/css/stylemain.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assets/css/style.css">
</head>
<body>
    <div id="wrapper">
        <div id="menu">
            <ul>
                <li><a href="/Topic/Index/">Trang chủ</a></li>
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Sự kiện nổi bật</a></li>
                <li>
                    <a href="#">Chủ đề thi</a>
                    <ul class="sub-menu">
                        @foreach (var item in Model.allTopic)
                        {
                            //Display all list TopicName
                            <li><a href="/Question/Index?id=@item.TopicId" target="ifr">@item.TopicName</a></li>
                        }
                    </ul>
                </li>
                <li><a href="#">Tuyển dụng</a></li>
        
                    <li><a href="/Lookup/Index?id=@Model.allUser.UserId" target="ifr">Tra cứu điểm</a></li>

                <li><a href="#">Ứng dụng</a></li>
                <li><a href="#">Khách hàng</a></li>
                <li><a href="#">Liên hệ</a></li>
                @using (Html.BeginForm("LogOut", "Login", FormMethod.Post))
                {
                    <li id="log_out"><button type="submit" id="submit">Log out</button></li>
                }
            </ul>
        </div><!--menu-->
        <div id="header" class="main">
            <div id="header-content">
                <div id="img" class="lg-main">
                    <img src="/Assets/img/logoSW.jpg" alt="logo" />
                    <h1 class="text-center">Phỏng vấn trắc nghiệm kiến thức lập trình</h1>
                </div>
            </div>
        </div>
        <div id="content">
            <iframe name="ifr" class="ifr-ques" allowfullscreen width="100%" height="561">              
            </iframe>
        </div><!--end content-->
    </div><!--end wrapper-->
</body>
</html>
